<div class="container pt-5">
  <div class="row ml-4">
    <h4>資金種類編集画面</h4>
  </div>
  <div class="row ml-4 mt-4">
    <%= form_with model: @fund_type, url: admin_fund_type_path(@fund_type), local:true do |f| %>
      <%= f.text_field :fund_type %>
      <%= f.submit "更新" %>
    <% end %>
  </div>
</div>