<div class="container pt-5 mt-5">
  <div class="row mt-5 mb-4">
    <div class="mx-auto">
      <%= link_to "管理者　ログイン", new_admin_session_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>