<div class="container pt-5">
  <div class="row ml-4">
    <h4>担保編集画面</h4>
  </div>
  <div class="row ml-4 mt-4">
    <%= form_with model: @collateral, url: admin_collateral_path(@collateral), local:true do |f| %>
      <%= f.text_field :collateral %>
      <%= f.submit "更新" %>
    <% end %>
  </div>
</div>