<div class="container pt-5 mt-5">
  <div class="row">
    <h2><%= @store.name %></h2>
  </div>
  <%= link_to "ログアウト", destroy_store_session_path, method: :delete %>

  <div class="row">
    <%= link_to "個人顧客案件一覧", individual_projects_path %>
  </div>
  <div class="row">
    <%= link_to "法人顧客案件一覧", corporation_projects_path %>
  </div>
</div>
