<div class="container pt-5 mt-5">
  <div class="row ml-5">
    <span>各支店ごとに、ログインまたは新規登録をしましょう</span>
  </div>
  <div class="row mt-5 mb-4">
    <div class="mx-auto">
      <%= link_to "支店　ログイン", new_store_session_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= link_to "支店　新規登録", new_store_registration_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>